<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}Board Game Store{{/link-to}}
      </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
      <li>{{#link-to 'cart'}}Shopping Cart{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container" id="main-content">
  {{outlet}}
</div>
